body{
	background:linen;
}

p{
	color: darkslateblue;
}

.row{
	width:100%;
	display:flex;
}

.col-4{
	width:33.33%;
	padding:2px;
	margin-left: 5px;
	margin-right: 3px;
}

.col-2{
	width:16.66%;
	padding:2px;
	margin-left: 5px;
	margin-right: 3px;
}

.col-6{
	width:50%;
	padding:2px;
	margin-left: 5px;
	margin-right: 3px;
}

.col-8{
	width:66.66%;
	padding:2px;
	margin-left: 5px;
	margin-right: 3px;
}

.col-10{
	width:81.33%;
	padding:2px;
	margin-left: 5px;
	margin-right: 3px;
	text-align: center;
	font-size:50px;
}